#section {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      url("../../images/FIFA-20-background.jpg");
    height: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  h1,th,td,tr{
      color: white;
  }